

.ts1-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background: var(--border);
  z-index: 0;
}

.ts1-card-footer::after {
  content: "";
  position: absolute;
  left: calc(-1.5rem - 1px);
  bottom: 0;
  width: 3px;
  height: 2.5rem;
  background: var(--foreground);
  z-index: 1;
}

@media (min-width: 768px) {
  .ts1-card-footer::after {
    left: calc(-2rem - 1px);
  }
}
